<div class="content">
    <!-- Top Statistics -->

    <div class="row">
        {{#each data}}
        <div class="col-xl-4 col-sm-6">
            <div class="card card-mini mb-4">
                <div class="card-body">
                    <h2 class="mb-1">{{products}}</h2>
                    <p>products</p>
                    <div class="chartjs-wrapper">
                        <canvas id="barChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-sm-6">
            <div class="card card-mini mb-4">
                <div class="card-body">
                    <h2 class="mb-1">{{orders}}</h2>
                    <p>orders </p>
                    <div class="chartjs-wrapper">
                        <canvas id="area-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-4 col-sm-6">
            <div class="card card-mini mb-4">
                <div class="card-body">
                    <h2 class="mb-1">{{ best_seller}}</h2>
                    <p>Best Selling</p>
                    <div class="chartjs-wrapper">
                        <canvas id="line"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

    <div class="row">
        <div class="col-md-12">
            <!-- Sales Graph -->
            <div class="card card-default" data-scroll-height="675">
                <div class="card-header">
                    <h2>Summary</h2>
                </div>
                <div class="card-body">
                    <canvas id="linechart" class="chartjs"></canvas>
                </div>
                <div class="card-footer d-flex flex-wrap bg-white p-0">
                    <div class="col-6 px-0">
                        <div class="text-center p-4">
                            <h4>750</h4>
                            <p class="mt-2">Total orders of this year</p>
                        </div>
                    </div>
                    <div class="col-6 px-0">
                        <div class="text-center p-4 border-left">
                            <h4>70,506 FCFA</h4>
                            <p class="mt-2">Total revenue of this year</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>