<div class="content">

    <div class="row">
        <div class="col-12">
            <div class="card card-default">
                <div class="card-header card-header-border-bottom d-flex justify-content-between">
                    <h2>Products</h2>

                    <a href="https://datatables.net/examples/styling/display.html" target="_blank"
                        class="btn btn-outline-primary btn-sm text-uppercase">
                        <i class=" mdi mdi-link mr-1"></i> Docs
                    </a>
                </div>

                <div class="card-body">
                    <div class="basic-data-table">
                        <table id="basic-data-table" class="table nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th>PRODUCT NAME</th>
                                    <th>CATEGORY</th>
                                    <th>QUANTITY</th>
                                    <th>UNIT PRICE</th>
                                    <th>SUPPLIER NAME</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>milk</td>
                                    <td>groceries</td>
                                    <td>15</td>
                                    <td>150</td>
                                    <td>CAMLAIT</td>
                                </tr>

                                <tr>
                                    <td>milk</td>
                                    <td>groceries</td>
                                    <td>15</td>
                                    <td>150</td>
                                    <td>CAMLAIT</td>
                                </tr>
                                <tr>
                                    <td>milk</td>
                                    <td>groceries</td>
                                    <td>15</td>
                                    <td>150</td>
                                    <td>CAMLAIT</td>
                                </tr>
                                <tr>
                                    <td>milk</td>
                                    <td>groceries</td>
                                    <td>15</td>
                                    <td>150</td>
                                    <td>CAMLAIT</td>
                                </tr>
                                <tr>
                                    <td>milk</td>
                                    <td>groceries</td>
                                    <td>15</td>
                                    <td>150</td>
                                    <td>CAMLAIT</td>
                                </tr>
                                <tr>
                                    <td>milk</td>
                                    <td>groceries</td>
                                    <td>15</td>
                                    <td>150</td>
                                    <td>CAMLAIT</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>