<div class="content">
        <h2 class="mb-3"> Download Reports</h2>

        <table id="example-report" class="display table table-bordered " style="width:100%">
                <thead class="thead">
                        <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Extn.</th>
                                <th>Start date</th>
                                <th>Salary</th>
                        </tr>
                </thead>
                <tfoot>
                        <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Extn.</th>
                                <th>Start date</th>
                                <th>Salary</th>
                        </tr>
                </tfoot>
        </table>

</div>