<div class="content bg-white h-100">
        <h1 class="mb-5 font-weight-bold text-center">Reports</h1>

        <div class="row text-center">
                <div class="col-md-6 mb-5">
                        <a href="/reports-product">
                                <div class="card">

                                        <div class="card-body btn btn-primary" style="padding:100px">
                                                <i class="mdi mdi-basket h1"></i>
                                                <h2 class="font-weight-bold">Products</h2>

                                        </div>

                                </div>
                        </a>
                </div>

                <div class="col-md-6">
                        <a href="/reports-orders">
                                <div class="card">
                                        <div class="card-body btn btn-success" style="padding:100px">
                                                <i class="mdi mdi-cart h1"></i>
                                                <h2 class="font-weight-bold">Orders</h2>
                                        </div>
                                </div>
                        </a>
                </div>
        </div>



</div>