/* custom css from dev */

.transparent {
    background: transparent !important;
}
.form-control {
    border: 1px solid #cad1d8 !important ;
}
.form-control:focus {
    border: 1px solid #007bff !important;
}
